// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  margin: 5px 10px 5px 10px;
  padding: 5px;
}

.letters {
  display: inline-block;
  margin: 5px 10px 5px 10px;
  padding: 5px;
}

.letters li {
  background-color: rgb(77, 139, 139);
  padding: 10px 20px;
  border: 1px solid black;
  color: white;
  box-shadow: 1px 2px 30px black;
}

.form-container {
  margin: 5px 10px 5px 10px;
  padding: 5px;
}

.word-container {
  margin: 5px 10px 5px 10px;
  padding: 5px;
}
